<div class="container" id="main"> 
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
    </button>
 <div class="nav-brand">
  <img src="images/logo.png" width="43px" height="47px" class="logo">
   <span>FundooHR </span>
    </img>
    </div>
  </div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right" id="top-nav">
      <li><a class="date"><span class="glyphicon glyphicon-time">{{ today | date : "dd,MMMM y" }}</span>  </a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle name" data-toggle="dropdown" id="name">
          <img src="images/user.png" width="20px" height="20px" />{{name}}
          <span class="caret"></span></a>
        <ul class="dropdown-menu" id="block">
          <li class="mail">naveennpv.navi@gmail.com</li>
          <li ng-if="isAuth()">
            <a ui-sref="logout" id="logout"><img src="images/logout web.png" width="12px" height="14px" />logout</a>
          </li>

        </ul>
      </li>
    </ul>
    <div class="row">
      <ul class="nav navbar-nav">
       <li ui-sref-active="selected" class="inactive"><a ui-sref=".DashBoard">DashBoards</a></li>
        <li ui-sref-active="selected" class="inactive"><a ui-sref=".Engineers">Engineers</a></li>
        <li ui-sref-active="selected" class="inactive"><a ui-sref="Attendence">Attendence</a></li>
        <li ui-sref-active="selected" class="inactive"><a ui-sref="Clients">Clients</a></li>
        <li ui-sref-active="selected" class="inactive"><a ui-sref="Reports">Reports</a></li>
      </ul>
    </div>
  </div>

</nav>
<ui-view></ui-view>
</div>